<link rel="preconnect" href="https://fonts.googleapis.com">

<ion-content>

  <ion-list class="ion-text-center main-header">
    <h6 (click)="gotToLogin()">X</h6>
    <div class="text-center">
    </div>
</ion-list>
<!--========= CHOIX INTERFACE ===========-->
<form action="" class="ion-padding">
<h3>Mot de passe oublié</h3>

  <p>Renseignez votre numéro de  téléphone ou Email.</p>
    <div class="wrap-input">
      <input class="input" type="text"  placeholder="  Email ou Téléphone " name="mobile" required>
    </div>
      <button type="submit" class="form-btn custom-font">Validez</button>
    </form> 
</ion-content>
