.custom-font {
    font-family: 'Bai Jamjuree', sans-serif;
  }
 
   ion-content {
    text-align: center;
    h3{
        text-align: center;
        color: #1D5F24;
        font-weight: bold;
        margin-top: 40px;

       }
       
    .wrap-input {
      margin-top: 50px;
      border-radius: 18px;
      border-bottom: solid #1D5F24;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
    }
  
    .wrap-input:hover{
        box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);  
    }
  
    .input {
      display: block;
      width: 100%;
      background: transparent;
      font-size: 16px;
      line-height: 1.2;
      border: none;
      outline: none;
      height: 40px;
      padding: 0 20px 0 23px; 
      font-weight: bold;
    }
  
    .container-form-btn {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
  
    .form-btn {
      display: flex;
      justify-content: center;
      align-items:center;
      height: 40px;
      width: 14em;
      background-color: #1D5F24;
      border-radius: 18px;
      font-size: 16px;
      color: #fff;
      margin-top: 20px;
      margin-left: 27px;
      transition: all 0.4s;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
    }
  
    .form-btn:hover {
      background-color: #114e17;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
    }

    .main-header{
        height: 15vh;
        width: 120%;
        background: #0b4402;
        box-shadow: 0 1px 10px var(--ion-color-light);
        border-radius: 0 0 50% 50%;
        margin-left: -4.5vh;
        div{
            transform: translateY(3vh);
            ion-label{
                font-weight: bold;
                font-size: 1.2rem;
                color: #fff;
                
            }

        }
    }

    h6{
        margin-top: 20px;
        margin-right: 80px;
        text-align: right;
        font-weight: bold;
        cursor: pointer;
        font-size: 30px;
        color: #ffffff;
    }
   
   
  }
