
hr{
    
    color: white;
    height: 3px;
    background-color: white;
    font-weight: 900px;
}
.t{
    background-color: rgb(13, 98, 18);
    color: white;
}

.collapse, .topbar{
    background-color: rgb(13, 98, 18);

}
ul{
    li{
        a{
            margin-right: 100px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}
h5{
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-left: 100px;
}