
<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper toot">
    <div class="container-fluid">

                <!-- ============================CHIFFRE================================== -->
                <div class="container">
                    <h1 class="ada"></h1>
                  </div>
                <!--  -->
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm total a">
                      <div class="col-sm aa">
                        <i class="fa fa-users" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm bb">
                        <h1>{{allDonnee.length}}</h1>
                        <p>Utilisateurs</p>
                      </div>
                    </div>
                      <div class="col-sm total b">
                        <div class="col-sm aa">
                          <i class="fas fa-database" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm bb">
                        <h1>{{allDonne.length}}</h1>
                        <p>Données</p>
                      </div>
                    </div>
                      <div class="col-sm">
                        <div class="col-sm aa">

                        </div>
                        <div class="col-sm bb">
                        <h1></h1>
                       
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->
                <div class="container">
                </div>
                
                <!-- ================================LISTE============================== -->
                
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Utilisateurs</h3>
                                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                                        <form #e="ngForm" autocomplete="off">
                                          <a  class="active">
                                            <i class="fa fa-search"></i>
                                        </a>
                                            <input type="text" name="search" [(ngModel)]="search" class="form-control mt-0" placeholder="Recherche...">
                                        </form>
                                </div>
                            </div>
                            <div class="table-responsive">

                              <!-- ================= table============================== -->

                              <p-table [value]="allDonnee |filter:search" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" class="table no-wrap">
                              <ng-template pTemplate="header">
                                  <tr>
                                    <th>Nom</th>
                                    <th>Adresse</th>
                                    <th>Téléphone</th>
                                    <th>Voir ces Donnees</th>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-allDonnee>
                                  <tr>
                                    <td class="txt-oflo" >{{allDonnee.nomComplet}}</td>
                                    <td class="txt-oflo" >{{allDonnee.adresse}}</td>
                                     <td class="txt-oflo" >{{allDonnee.mobile}}</td>
                                    <td class="txt-oflo">
                                        <a [routerLink]="['/detail-donnee', allDonnee.id]"><i class="fas fa-database" aria-hidden="true"></i></a>
                                    </td>
                                  </tr>
                              </ng-template>
                          </p-table>
                          </div>
                          </div>
                    </div>
                </div>
</div>
</div>