
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bilan">
      <ion-icon size="large" name="fitness-outline"></ion-icon>
      <ion-label>Bilan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accueil">
      <ion-icon size="large" name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rappel">
      <ion-icon size="large" name="notifications-circle-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>