<link rel="preconnect" href="https://fonts.googleapis.com">

<ion-content fullscreen="true" class="custom-font">
      <div class="ion-padding">
        <h4>Inscrivez-vous</h4>
        <form #user="ngForm" (ngSubmit)="SaveData(user)" novalidate autocomplete="nope" class="ion-padding">

          <!-- ================Nom Complet============= -->
          <div class="wrap-input">
          <input class="input" type="text" name="nomComplet" placeholder="Nom Complet"  ngModel required autocomplete>
          </div>

          <!-- ================Email============= -->
          <div class="wrap-input">
          <input class="input" type="text"  name="email" placeholder="Email"  ngModel required autocomplete>
          </div>

          <!-- ================Mobile============= -->
          <div class="wrap-input">
            <input class="input" name="mobile" type="phone" placeholder="Téléphone"  ngModel required>
          </div>

          <!-- ================Adresse============= -->
          <div class="wrap-input">
          <input class="input" type="text" placeholder="Adresse" ngModel name="adresse" required>
          </div>

          <!-- ================Type============ -->
          <div class="wrap-input">
            <ion-select #Type class="col1" ngModel name="Type"  placeholder="Fonction" >
              <ion-select-option value="MEDECIN">MEDECIN</ion-select-option>
              <ion-select-option value="UTILISATEUR">UTILISATEUR</ion-select-option>
            </ion-select>
          </div>

          <!-- ================Medecin Specialite============= -->
              <div class="wrap-input" *ngIf="Type.value==='MEDECIN'">
                  <ion-select class="col1" name="specialite" placeholder="Specialite"  ngModel required >
                    <ion-select-option value="DIABETOLOGUE">Diabetologue</ion-select-option>
                    <ion-select-option value="CARDIOLOGUE">Cardiologue</ion-select-option>
                  </ion-select>
                </div>

          <!-- ================Mot de passe============= -->   
          <div class="wrap-input">
          <input class="input" type="password" ngModel name="motDePasse" placeholder="Mot de passe" required >
          </div> 
          
          <!-- ================Date de Naissance============= -->
          <div class="wrap-input">
            <input class="input" type="date" placeholder="Date de Naissance" name="dateDeNaissance" ngModel>
          </div> 

          <!-- ================Boutton S'inscrire============= -->
          <div class="container-form-btn">
            <button type="submit" class="form-btn custom-font">
              S’inscrire
            </button>
          </div>   
        </form>
      </div>
      <ion-footer class="ion-no-border">
        <p class="ion-text-center custom-font">Avez-vous un compte? <br> <a routerLink="/login">Connectez-vous</a></p>
      </ion-footer>
</ion-content>
