.custom-font {
    font-family: 'Bai Jamjuree', sans-serif;
  }
 
   ion-content {
    


    text-align: center;

    .main-header{
        height: 15vh;
        width: 120%;
        background: #0b4402;
        box-shadow: 0 1px 10px var(--ion-color-light);
        border-radius: 0 0 50% 50%;
        margin-left: -4.5vh;
        div{
            transform: translateY(3vh);
            ion-label{
                font-weight: bold;
                font-size: 1.2rem;
                color: #fff;
                
            }

        }
    }

    h6{
        margin-top: 20px;
        margin-right: 80px;
        text-align: right;
        font-weight: bold;
        cursor: pointer;
        font-size: 30px;
        color: #ffffff;
    }
   
    .container{
        .row{
            img{
                height: 150px;
                margin-top: 10px;
            }
            p{
                margin: 20px;
                font-size: 18px;
            }
            h3{
                color: #1D5F24;
                font-weight: bold;
            }
        }
    }
   
  }
