<!-- header -->
<ion-header>
  <ion-toolbar>
    <ion-menu-button menuId="custom-menu" slot="start"></ion-menu-button>
    <div class="container headd" routerLink="/profile" >
      <div class="row" style="display: flex;">
        <div class="col a" ><h3></h3></div>
        <div class="col"><ion-img src="../../../assets/iconImage/account.png"></ion-img></div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<!-- fin header -->

<ion-content>
<div class="container etat">
  <div class="row">
    <h3>Mes Données</h3>
  </div>
  <div class="wrap-input">
    <input class="input"placeholder="Recherche" type="text" name="mobile" [(ngModel)]="filterTerm" autocomplete="off" >
  </div>
  <div class="row">
    <ion-item class="tet">
      <ion-label>Date</ion-label>
      <ion-label>Valeur</ion-label>
      <ion-label>Resultat</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/data-details',items?.id]" class="corp" *ngFor="let items of user | filter:filterTerm | paginate: { itemsPerPage: 6, currentPage: cp }">
      <ion-label>{{items?.date | date: 'dd MMM yyyy'}}</ion-label>
      <ion-label>{{items?.valeurA}} <i *ngIf="items?.valeurB" style="color: rgb(175, 175, 175);">|</i> {{items?.valeurB}} <i style="color: rgb(175, 175, 175);"></i> {{items?.valeurC}}</ion-label>
      <ion-label>{{items?.resultat}}</ion-label>
    </ion-item>
    <pagination-controls color="primary" (pageChange)="cp = $event"></pagination-controls>
  </div>
</div>
</ion-content>
