<ion-content>
  <ion-slides [options]="slideOpts" pager="true" paginationType="bulles">
    <ion-slide class="bg-1">
      <p>Découvrez l’univers<br>technologique de suivi du diabète<br>et de la tension</p>
      <ion-footer>
        <div class="container-form-btn">
          <button (click)="login()" class="form-btn custom-font">
            Se Connecter
          </button>
        </div>
        <h5 (click)="register()">S’inscrire</h5>
      </ion-footer>
    </ion-slide>

    <ion-slide class="bg-2">
      <p>Votre bilan de <br>santé contre le diabète est en<br> pleine croissance</p>
      <ion-footer>
        <div class="container-form-btn">
          <button (click)="login()" class="form-btn custom-font">
            Se Connecter
          </button>
        </div>
        <h5 (click)="register()">S’inscrire</h5>
      </ion-footer>
    </ion-slide>

    <ion-slide class="bg-3">
      <p>Suivez l'évolution de votre<br>état de sa santé dans le temps où<br>que vous soyez</p>
      <ion-footer>
        <div class="container-form-btn">
          <button (click)="login()" class="form-btn custom-font">
            Se Connecter
          </button>
        </div>
        <h5 (click)="register()">S’inscrire</h5>
      </ion-footer>
    </ion-slide>

  </ion-slides>
</ion-content>
